namespace: "companieshouse"
name: "middleware"
version: "{{ version }}"
readme: "README.md"
authors:
  - "Marc Ransome <mransome@companieshouse.gov.uk>"
description: "A collection comprising Ansible roles and playbooks for use in Companies House heritage middleware projects"
license_file: "LICENSE"
tags: []
dependencies: {}
repository: "https://github.com/companieshouse/ansible-collection-middleware"
build_ignore:
  - templates
